[submodule "lib/webauthn-sol"]
	path = lib/webauthn-sol
	url = https://github.com/base-org/webauthn-sol
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/safe-singleton-deployer-sol"]
	path = lib/safe-singleton-deployer-sol
	url = https://github.com/wilsoncusack/safe-singleton-deployer-sol
[submodule "lib/delegation-framework"]
	path = lib/delegation-framework
	url = https://github.com/metamask/delegation-framework
	branch = v1.2.0-audited
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/aave-v3-core"]
	path = lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
